@using Testflight.Model
@model Testflight.Model.Project
@{
    ViewBag.Title = "Details";
}
<h2>
    Details</h2>
<fieldset>
    <legend>Project</legend>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-label">
        <p>
            Configurations</p>
        <table>
            <thead>
                <th>
                    Configuration name
                </th>
                <th>
                </th>
            </thead>
            @foreach (Configuration configuration in ViewBag.ProjectConfigurations)
            {
                <tr>
                    <td>@Html.ActionLink(configuration.Name, "Edit", "Configuration", new { configurationId = configuration.Id }, null)
                    </td>
                    <td>@Html.ActionLink("Delete", "Delete", "Configuration", new { configurationId = configuration.Id }, null)
                    </td>
                </tr>
            }
        </table>
    </div>
</fieldset>
<p>
    @Html.ActionLink("New build configuration", "Create", "Configuration", new { projectId = Model.Id }, null)
    @Html.ActionLink("Back to List", "Index")
</p>
