@model TestFlight.Model.Project
@{
    ViewBag.Title = "Details";
}
<h2>
    Details</h2>
<fieldset>
    <legend>Project</legend>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-label">
        <p>
            Configurations</p>
        <ul>
            @foreach (var configuration in ViewBag.ProjectConfigurations)
            {
                <li>@configuration.Name</li>    
            }
        </ul>
    </div>
</fieldset>
<p>
    @Html.ActionLink("New build configuration", "Create", "Configuration", new { projectId = Model.Id }, null)
    @Html.ActionLink("Back to List", "Index")
</p>
