@model List<Testflight.Web.Models.ProjectViewModel>
@{
    ViewBag.Title = "Home";
}
@section styles
{
    @Styles.Render(Url.Content("/Content/Home/Home.css"))
}
@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/Home.js")"></script>
}
<table id="configuration-table">
    <thead>
        <tr>
            <th>
                Project
            </th>
            <th>
                Configuration
            </th>
            <th>
                Build status
            </th>
            <th>
                Was last build successfull?
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            foreach (var configuration in project.Configurations)
            {
            <tr>
                <td>
                    @project.Name
                </td>
                <td>
                    @Html.ActionLink(configuration.Name, "Report", "Configuration", new { configurationId = configuration.Id }, null)
                    @*                    @configuration.Name*@
                </td>
                <td class="build-status">
                    @if (configuration.IsCompleted)
                    {
                        <p>
                            Idle</p>
                    }
                    else
                    {
                        <p>
                            Running</p>
                    }
                </td>
                <td>
                    @configuration.WasLastBuildSuccessfull
                </td>
                <td>
                    <a href="#" class="query-build-link" id="@configuration.Id">Query build</a>
                </td>
            </tr>
            }
        }
    </tbody>
</table>
