@model Testflight.Web.Models.ConfigurationDetailViewModel
@{
    ViewBag.Title = "Report - " + Model.Name;
}
@section styles{
    @Styles.Render(Url.Content("/Content/Configuration/ConfigurationBuildReport.css"))
}
@section scripts{
    <script type="text/javascript" src="@Url.Content("/Scripts/BuildReport.js")"></script>
}
<h2>@Model.Name</h2>
<div id="sidebar">
    <fieldset>
        <legend>Build reports</legend>
        <div id="report-list">
            @foreach (var report in Model.BuildReports)
            {
                var linkClass = "build-successfull";
                if (!report.WasSuccessful)
                {
                    linkClass = "build-unsuccessfull";
                }
                <a href="#" id="@report.Id" class="@linkClass">@report.Timestamp</a><br />
            }
        </div>
    </fieldset>
</div>
<div id="details">
    <div id="result-details">
    </div>
    <p id="link-menu">
        @Html.ActionLink("Back to List", "Index", "Home")
    </p>
</div>
