@model Testflight.Web.Models.ConfigurationDetailViewModel
@{
    ViewBag.Title = "Report";
}
@Styles.Render("~/Content/css/Configuration")
<h2>
    Report</h2>
<div id="container">
    <div id="sidebar">
        <fieldset>
            <legend>Build reports</legend>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Name)
            </div>
            @foreach (var report in Model.BuildReports)
            {
                <p>@report.Timestamp</p>
            }
        </fieldset>
    </div>
    <div id="content">
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
